Language: Cpp
BasedOnStyle: Microsoft

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlwaysBreakAfterReturnType: All
BraceWrapping:
  AfterControlStatement: false
NamespaceIndentation: All
BreakConstructorInitializers: BeforeComma
