Language: Cpp
BasedOnStyle: Microsoft

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: true
AlwaysBreakAfterReturnType: All
BraceWrapping:
  AfterControlStatement: false
NamespaceIndentation: All
